.header{
     background-color: green;
     color:black;
 }
 
 body{
     font-family: 'Irish Grover', cursive;
     background: green;
 }
 
 .header p{
     font-family: 'Special Elite', cursive;
     color:purple;
     letter-spacing: 2px;
     font-size: 20px;
     font-weight: bold;
 }
 
 .header2 button{
 margin-top: 30px;
 width:130px;
 font-weight: bolder;
 letter-spacing: 3px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 .footer{
     position: fixed;
     color: red;
     bottom:0;
     width: 100%;
     font-size: 18px;
     background-color:orange;
     line-height: 3;
     text-align: center;
     text-shadow: 5px 5px 5px blue;
 }